<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ncs.exam.dao.ProductMapper">

	<select id="selectProductByAll" resultType="Product">
		select * from product;
	</select>
	
	<select id="selectProductByCode" parameterType="String" resultType="Product">
		select * from product where product_code=#{code}
	</select>
	
	<insert id="insertProduct">
		INSERT INTO ncs_product.product
		(product_code, product_name)
		VALUES(#{productCode},#{productName});
	</insert>
	
	
</mapper>


